div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
a:focus-visible {
  outline: 3px #00315d dashed;
  padding: 0.3rem;
}
.text-center {
  text-align: center;
}
.radius {
  border-radius: 2px;
}
.padding-tb {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}
.shadowDepth0 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}
.shadowDepth1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.rtl {
  direction: rtl;
}
div.ar div.card__content div.card__article h2 {
  font-size: 135% !important;
  direction: rtl !important;
  float: left !important;
}
div.ar div.card__content div.card__article div.card__meta {
  clear: left !important;
  top: -0.4rem !important;
  padding: 0 2.3rem 0 1.6rem !important;
  position: relative;
  direction: rtl !important;
}
div.ar div.card__content div.card__article div.card__meta time {
  direction: rtl !important;
}
div.ar div.card__content div.card__article div.text {
  direction: rtl !important;
}
div.ar div.card__content div.card__article div.text p {
  margin-bottom: 1rem;
  text-align: justify;
}
div.ar div.card__content div.card__article div.text p:first-of-type:first-line {
  font-variant-caps: small-caps;
}
div.ar
  div.card__content
  div.card__article
  div.text
  p:first-of-type::first-line {
  font-variant-caps: small-caps;
}
div.ar
  div.card__content
  div.card__article
  div.text
  p:first-of-type:first-letter {
  float: none !important;
  padding-right: 0 !important;
  font-family: Georgia, "New Times Roman", serif;
  font-size: initial !important;
  font-variant-caps: normal !important;
  line-height: initial !important;
  margin-bottom: 0 !important;
  color: initial !important;
}
div.ar
  div.card__content
  div.card__article
  div.text
  p:first-of-type::first-letter {
  float: none !important;
  padding-right: 0 !important;
  font-family: Georgia, "New Times Roman", serif;
  font-size: initial !important;
  font-variant-caps: normal !important;
  line-height: initial !important;
  margin-bottom: 0 !important;
  color: initial !important;
}
div.ar div.card__content div.card__article div.text p:last-child:after {
  color: #777;
  content: "\2766";
  display: inline;
  font-family: Georgia, "New Times Roman", serif;
  font-size: 1.25em;
  font-style: italic;
  font-weight: 300;
  line-height: 0.75;
}
div.ar div.card__action a.btn {
  margin-right: 0.5rem;
}
div.ar div.card__action a.btn-default {
  border: 1px solid black;
  background-color: white;
  color: black !important;
}
div.ar div.card__action a.btn-danger {
  border: 1px solid red;
  background-color: #e90000;
  color: white;
}
div.card-wrapper img[src$=".svg"] {
  width: 21px;
  height: 21px;
  top: 6px;
  position: relative;
}
div.card-wrapper .icon-white {
  filter: invert(1);
}
div.card-wrapper .icon-black {
  filter: invert(0);
}
div.card-wrapper div.card {
  background-color: #fff;
  margin-bottom: 1.6rem;
}
div.card-wrapper div.card div.card__image {
  background-color: #666;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 36px));
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 36px));
  text-align: center;
  position: relative;
  z-index: 0;
}
div.card-wrapper div.card div.card__image img.border-tlr-radius {
  width: 100%;
  max-width: 620px;
  display: inline-block;
  height: auto;
  box-shadow: 0 0 185px rgba(0, 0, 0, 0.9);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
div.card-wrapper div.card div.card__image img.mask {
  display: none;
}
@supports (-ms-ime-align: auto) {
  div.card-wrapper div.card div.card__image img.mask {
    display: block;
    min-width: 100%;
    height: 32px;
    display: block;
    position: relative;
    top: -32px;
    margin-bottom: -32px;
  }
}
div.card-wrapper div.card div.card__content {
  background-color: #fff;
  z-index: 1;
}
div.card-wrapper div.card div.card__content div.card__article {
  position: relative;
  background-color: #fff;
}
div.card-wrapper div.card div.card__content div.card__article h2 {
  font-size: 125%;
  position: relative;
  top: -1rem;
  display: inline-block;
  padding: 0 1.6rem;
  margin-right: 4rem;
  filter: drop-shadow(0.1rem -0.1rem 0 white);
}
div.card-wrapper div.card div.card__content div.card__article div.card__meta {
  clear: left;
  top: -1rem;
  padding: 0 1.6rem;
  position: relative;
  z-index: 1;
}
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.card__meta
  div {
  display: inline-block;
}
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.card__meta
  div
  a {
  color: #005aa9;
  text-decoration: none;
  transition: all 0.5s ease;
}
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.card__meta
  div
  a:hover,
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.card__meta
  div
  a:focus {
  color: #00315d;
  text-decoration: underline;
}
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.card__meta
  div
  a:focus-visible {
  outline: 3px #00315d dashed;
  padding: 0.3rem;
}
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.card__meta
  time {
  font-size: 1.05rem;
  color: #555;
}
div.card-wrapper div.card div.card__content div.card__article div.card__share {
  outline: 0;
  position: absolute;
  top: -1.9rem;
  right: 0.6rem;
  z-index: 10;
  transition: all 0.5s ease;
}
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.card__share
  div.card__social {
  font-size: 1.2rem;
  left: -200px;
  margin-right: 70px;
  position: absolute;
  text-align: right;
  top: 0;
  transform: translateZ(0);
  transform: translateX(0px);
  transition: transform 0.35s ease 0s;
  visibility: hidden;
  width: 240px;
}
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.card__share
  div.card__social
  .share-icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.3s ease;
  outline: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.card__share
  div.card__social
  .share-icon:hover,
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.card__share
  div.card__social
  .share-icon:focus {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.card__share
  div.card__social
  .strongblue {
  background-color: #3b5998;
}
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.card__share
  div.card__social
  .lightblue {
  background-color: #00abe3;
}
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.card__share
  div.card__social
  .strongred {
  background-color: #d3492c;
}
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.card__share
  div.card__social
  .black {
  background-color: #000;
}
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.card__share
  div.card__social
  .white {
  background-color: #fff;
}
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.card__share
  div.card__social
  .strongblue,
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.card__share
  div.card__social
  .lightblue,
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.card__share
  div.card__social
  .strongred,
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.card__share
  div.card__social
  .black {
  color: #fff;
}
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.card__share
  div.card__social
  .white {
  color: #000;
}
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.card__share
  div.card__social
  a.strongblue:hover,
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.card__share
  div.card__social
  a.lightblue:hover,
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.card__share
  div.card__social
  a.strongred:hover,
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.card__share
  div.card__social
  a.black:hover {
  color: #eee !important;
}
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.card__share
  div.card__social
  a.white:hover {
  color: #111 !important;
}
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.card__share
  div.card__social
  a.strongblue:active,
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.card__share
  div.card__social
  a.lightblue:active,
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.card__share
  div.card__social
  a.strongred:active,
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.card__share
  div.card__social
  a.black:active {
  color: #fff !important;
}
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.card__share
  div.card__social
  a.white:active {
  color: #000 !important;
}
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.card__share
  div.card__social
  a:focus-visible {
  outline: 3px orange dashed;
}
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.card__share
  div.card__social--active {
  visibility: visible;
  transform: translateZ(0);
  transform: translateX(-48px);
  transition: transform 0.35s ease;
}
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.card__share
  a.share-toggle {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.3s ease;
  outline: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  font-size: 1.2rem;
  z-index: 2;
  text-decoration: none !important;
}
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.card__share
  a.share-toggle:hover,
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.card__share
  a.share-toggle:focus {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.card__share
  a.share-toggle:hover,
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.card__share
  a.share-toggle:active {
  text-decoration: none !important;
}
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.card__share
  a.share-toggle:before {
  color: #e90000;
}
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.card__share
  a:focus-visible {
  outline: 3px orange dashed;
}
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.share-expanded {
  outline: 0;
  text-decoration: none;
}
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.share-expanded:before {
  text-decoration: none;
}
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.share-expanded
  > a
  img {
  transition: transform 0.35s ease;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: relative;
}
div.card-wrapper div.card div.card__content div.card__article div.text {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 1.6rem;
}
div.card-wrapper div.card div.card__content div.card__article div.text p {
  margin-bottom: 1rem;
  text-align: justify;
}
div.card-wrapper div.card div.card__content div.card__article div.text p a {
  color: #005aa9 !important;
  text-decoration: none;
  transition: all 0.5s ease;
}
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.text
  p
  a:hover,
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.text
  p
  a:focus {
  color: #00315d;
  text-decoration: underline;
}
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.text
  p
  a
  a:focus-visible {
  outline: 3px #00315d dashed;
  padding: 0.3rem;
}
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.text
  p:first-of-type:first-line {
  font-variant-caps: small-caps;
}
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.text
  p:first-of-type::first-line {
  font-variant-caps: small-caps;
}
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.text
  p:first-of-type:first-letter {
  float: left;
  padding-right: 0.07em;
  font-family: Georgia, "New Times Roman", serif;
  font-size: 4.2em;
  font-variant-caps: normal;
  line-height: 0.3em;
  margin-bottom: 0;
  color: black !important;
}
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.text
  p:first-of-type::first-letter {
  float: left;
  padding-right: 0.07em;
  font-family: Georgia, "New Times Roman", serif;
  font-size: 4.2em;
  font-variant-caps: normal;
  line-height: 0.3em;
  margin-bottom: 0;
  color: black !important;
}
div.card-wrapper
  div.card
  div.card__content
  div.card__article
  div.text
  p:last-child:after {
  color: #777;
  content: "\2766";
  display: inline;
  font-family: Georgia, "New Times Roman", serif;
  font-size: 1.25em;
  font-style: italic;
  font-weight: 300;
  line-height: 0.75;
}
div.card-wrapper div.card div.card__action {
  padding-top: 0.5rem;
  padding-left: 1.6rem;
  padding-bottom: 1.6rem;
}
div.card-wrapper div.card div.card__action a.btn {
  padding: 0.75rem;
  border: 1px solid red;
  text-decoration: none;
  transition: all 0.5s ease;
  color: white;
  border-radius: 2px;
  display: inline-block;
  margin-top: 0.5rem;
}
div.card-wrapper div.card div.card__action a.btn:hover,
div.card-wrapper div.card div.card__action a.btn:focus {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
div.card-wrapper div.card div.card__action a.btn:focus-visible {
  outline: 3px #000000 dashed;
}
div.card-wrapper div.card div.card__action a.btn-default {
  border: 1px solid black;
  background-color: white;
  color: black !important;
}
div.card-wrapper div.card div.card__action a.btn-danger {
  border: 1px solid red;
  background-color: #e90000;
  color: white;
}
